:root {
  --spacing: 1rem;
  --border-radius: calc(var(--spacing) / 4);
  --border-width: 2px;
  --box-shadow: 0 0 calc(var(--spacing) / 4);
  --box-shadow-bigger: 0 0 var(--spacing);
  --animation-duration: 250ms;
  --main-font-family: "Atkinson Hyperlegible", sans-serif;
  --heading-font-family: var(--main-font-family);
  --button-font-size: 0.85rem;

  --c-text: #c6d0f5;
  --c-mantle: #292c3c;
  --c-base: #303446;
  --c-surface0: #414559;
  --c-overlay2: #949cbb;
  --c-green: #a6d189;
  --c-rosewater: #f2d5cf;
  --c-pink: #f4b8e4;
  --c-red: #e78284;
  --c-maroon: #ea999c;
  --c-teal: #81c8be;
  --c-lavender: #babbf1;
}
@media (prefers-color-scheme: light) {
  :root {
    --c-text: #4c4f69;
    --c-mantle: #dce0e8;
    --c-base: #eff1f5;
    --c-surface0: #ccd0da;
    --c-overlay2: #7c7f93;
    --c-green: #40a02b;
    --c-rosewater: #dc8a78;
    --c-pink: #ea76cb;
    --c-red: #d20f39;
    --c-maroon: #e64553;
    --c-teal: #179299;
    --c-lavender: #7287fd;
  }
}
@media (prefers-reduced-motion) {
  :root {
    --animation-duration: 0ms;
  }
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 100 500;
  descent-override: 10%;
  src:
    local("Atkinson Hyperlegible"),
    url("fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
    url("fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 600 900;
  descent-override: 10%;
  src:
    local("Atkinson Hyperlegible"),
    url("fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
    url("fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

html,
body {
  font-size: 20px;
  background-color: var(--c-base);
  color: var(--c-text);
}

body {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  hyphens: auto;
  word-break: break-word;
}

.header {
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  border-bottom: var(--border-width) solid var(--c-rosewater);
}

.app-heading {
  color: var(--c-green);
  font-family: var(--heading-font-family);
}

.favorites {
  margin-bottom: var(--spacing);
}

.main {
  container-type: inline-size;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  padding-bottom: var(--spacing);
  font-family: var(--main-font-family);
}

.separator {
  border: none;
  background-color: var(--c-surface0);
  height: var(--border-width);
  margin-bottom: var(--spacing);
}

.list-heading {
  margin-bottom: calc(var(--spacing) / 2);
  font-family: var(--heading-font-family);
}
.list-heading:nth-of-type(5n+1) { color: var(--c-rosewater); }
.list-heading:nth-of-type(5n+2) { color: var(--c-pink); }
.list-heading:nth-of-type(5n+3) { color: var(--c-maroon); }
.list-heading:nth-of-type(5n+4) { color: var(--c-teal); }
.list-heading:nth-of-type(5n+5) { color: var(--c-lavender); }

.list,
soundboard-favorites::part(list) {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  gap: calc(var(--spacing) / 2);
}
@container (min-width: 16rem) {
  .list,
  soundboard-favorites::part(list) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@container (min-width: 30rem) {
  .list,
  soundboard-favorites::part(list) {
    grid-template-columns: repeat(3, 1fr);
  }
}
@container (min-width: 40rem) {
  .list,
  soundboard-favorites::part(list) {
    grid-template-columns: repeat(6, 1fr);
  }
}
.list:not(:last-child) {
  margin-bottom: var(--spacing);
}

sound-button::part(button),
soundboard-favorites::part(sound-button) {
  appearance: none;
  outline: none;
  text-align: center;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 2);
  border-radius: var(--border-radius);
  background-color: var(--c-surface0);
  color: var(--c-text);
  border: var(--border-width) solid var(--c-pink);
  width: 100%;
  height: 100%;
  font-family: var(--main-font-family);
  font-size: var(--button-font-size);
}
sound-button::part(button):hover,
sound-button::part(button):focus,
soundboard-favorites::part(sound-button):hover,
soundboard-favorites::part(sound-button):focus {
  cursor: pointer;
  border-color: var(--c-teal);
  box-shadow: var(--box-shadow) var(--c-teal);
}

sound-button::part(content),
soundboard-favorites::part(sound-button-content) {
  flex-direction: column;
}
@container (min-width: 16rem) {
  sound-button::part(content),
  soundboard-favorites::part(sound-button-content) {
    flex-direction: row;
  }
}

sound-button::part(progress),
soundboard-favorites::part(sound-button-progress) {
  background-color: var(--c-pink);
}
sound-button:hover::part(progress),
sound-button:focus::part(progress),
soundboard-favorites:hover::part(sound-button-progress),
soundboard-favorites:focus::part(sound-button-progress) {
  background-color: var(--c-teal);
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.favorites:where(.pinned, :has(soundboard-favorites[minimal="true"])) {
  display: flex;
  justify-content: center;
  position: sticky;
  top: var(--spacing);
  animation: var(--animation-duration) ease-out 1 fade-in;
  pointer-events: none;
  z-index: 1;
}
soundboard-favorites[minimal="true"]::part(dropzone) {
  padding: var(--spacing) calc(var(--spacing) * 2);
  box-shadow: var(--box-shadow-bigger) var(--c-mantle);
  min-height: unset;
  pointer-events: all;
}
