:root {
  --spacing: 1rem;
  --border-radius: calc(var(--spacing) / 4);
  --border-width: 2px;
  --box-shadow: 0 0 5px;
  --animation-duration: 250ms;
  --heading-font-family: serif;
  --main-font-family: sans-serif;
  --button-font-size: 0.85rem;

  --c-text: #c6d0f5;
  --c-mantle: #292c3c;
  --c-base: #303446;
  --c-surface0: #414559;
  --c-overlay2: #949cbb;
  --c-green: #a6d189;
  --c-rosewater: #f2d5cf;
  --c-pink: #f4b8e4;
  --c-red: #e78284;
  --c-maroon: #ea999c;
  --c-teal: #81c8be;
  --c-lavender: #babbf1;
}
@media (prefers-color-scheme: light) {
  :root {
    --c-text: #4c4f69;
    --c-mantle: #dce0e8;
    --c-base: #eff1f5;
    --c-surface0: #ccd0da;
    --c-overlay2: #7c7f93;
    --c-green: #40a02b;
    --c-rosewater: #dc8a78;
    --c-pink: #ea76cb;
    --c-red: #d20f39;
    --c-maroon: #e64553;
    --c-teal: #179299;
    --c-lavender: #7287fd;
  }
}
@media (prefers-reduced-motion) {
  :root {
    --animation-duration: 0ms;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

html,
body {
  font-size: 20px;
  background-color: var(--c-base);
  color: var(--c-text);
}

body {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  hyphens: auto;
}

.header {
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  border-bottom: var(--border-width) solid var(--c-rosewater);
}

.app-heading {
  color: var(--c-green);
  font-family: var(--heading-font-family);
}

.main {
  container-type: inline-size;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  padding-bottom: var(--spacing);
  font-family: var(--main-font-family);
}

.separator {
  border: none;
  background-color: var(--c-surface0);
  height: var(--border-width);
  margin-bottom: var(--spacing);
}

.list-heading {
  margin-bottom: calc(var(--spacing) / 2);
  font-family: var(--heading-font-family);
}
.list-heading:nth-of-type(5n+1) { color: var(--c-rosewater); }
.list-heading:nth-of-type(5n+2) { color: var(--c-pink); }
.list-heading:nth-of-type(5n+3) { color: var(--c-maroon); }
.list-heading:nth-of-type(5n+4) { color: var(--c-teal); }
.list-heading:nth-of-type(5n+5) { color: var(--c-lavender); }

.list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  gap: calc(var(--spacing) / 2);
  grid-template-columns: repeat(2, 1fr);
}
@container (min-width: 30rem) {
  .list { grid-template-columns: repeat(3, 1fr); }
}
@container (min-width: 40rem) {
  .list { grid-template-columns: repeat(6, 1fr); }
}
.list:not(:last-child) {
  margin-bottom: var(--spacing);
}

sound-button::part(button),
soundboard-favorites::part(sound-button) {
  appearance: none;
  outline: none;
  text-align: center;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 2);
  border-radius: var(--border-radius);
  background-color: var(--c-surface0);
  color: var(--c-text);
  border: var(--border-width) solid var(--c-pink);
  width: 100%;
  height: 100%;
  font-size: var(--button-font-size);
}
sound-button::part(button):hover,
sound-button::part(button):focus,
soundboard-favorites::part(sound-button):hover,
soundboard-favorites::part(sound-button):focus {
  cursor: pointer;
  border-color: var(--c-teal);
  box-shadow: var(--box-shadow) var(--c-teal);
}
